@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/hogwarts.scss';

.landing-card {
  height: 20rem;
  margin: 0 auto;
  padding: .93rem 1.25rem;

  @include flex-center;
  flex-direction: column;

  position: relative;

  background-position: center;
  background-size: cover;

  &__title {
    text-transform: uppercase;
    font-size: .87rem;
    letter-spacing: 1.5px;
    margin-bottom: .93rem;

    color: $color-white;
    font-family: $font-family-secondary;
  }

  &__value {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
    text-align: center;
    color: $color-white;
    text-transform: capitalize;
  }

  &__button {
    position: absolute;
    bottom: 10%;
    text-transform: uppercase;
    font-size: .93rem;
    padding: .62rem 3.75rem;
    color: $color-white;
    font-family: $font-family-secondary;
    background-color: $color-default-dark;
    transition: background-color .3s ease;

    &:hover {
      background-color: $color-default-dark-2;
    }

    @include hogwarts-background-dark;
    @include hogwarts-background-dark-2-hover;
  }

  &:not(:last-of-type) {
    margin-bottom: 1.56rem;
  }
}