@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/typography.scss';

.auth-form{
  &__form {
    @include flex-center;
    flex-wrap: wrap;
  }

  &__group {
    flex: 1 1 100%;
    max-width: 25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;

    &:last-of-type {
      margin-bottom: 3rem;
    }
  }

  &__label {
    flex: 1 1 100%;
    margin-bottom: 0.93rem;
    font-size: 1.25rem;
  }

  &__input {
    flex: 1 1 100%;
    width: 100%;
    background-color: $color-default-dark-2;
    color: $color-white;

    border: 2px solid $color-white;
    box-shadow: none;
    padding: 0.62rem 0.93rem;

    font-size: 1rem;
    font-family: $font-family-primary;

    &:focus {
      background-color: $color-white;
      color: $color-default-dark-2;
    }
  }

  &__button {
    @include flex-center;
    align-self: center;
    border: 2px solid transparent;
    box-shadow: none;
    padding: .62rem .93rem;
    cursor: pointer;
    font-size: 1.25rem;

    background-color: $color-default-dark-2;
    border-color: $color-white;

    text-transform: uppercase;
    font-family: $font-family-secondary;
    color: $color-white;

    transition: all .3s ease;

    &:hover {
      background-color: $color-white;
      color: $color-default-dark-2;
    }

    &:disabled {
      background-color: $color-default-dark;
      color: $color-background;
      cursor: not-allowed;
    }
  }
}