@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/typography.scss';

.spell-list {
  @include flex-center;
  flex-direction: column;

  position: relative;

  margin: 0 1.25rem;
  margin-top: -5rem;

  @media only screen and (min-width: $bp-xl) {
    @include container;
    margin-top: -5rem;
  }

  &__introduction {
    margin-bottom: 1.87rem;
    padding: 1.87rem 2.25rem;
    color: $color-white;
    background-image: url('../../assets/img/landing/wand-background.jpg');
    background-position: center;
    background-size: cover;

    @media only screen and (min-width: $bp-md) {
      padding: 2.5rem 3.75rem;
      margin-bottom: 5rem;
    }

    @media only screen and (min-width: $bp-xl) {
      padding: 6.25rem 10.93rem;
    }
  }

  &__heading {
    @include heading-primary;
    font-size: 3.12rem;

    margin-bottom: 2.18rem;
  }

  &__text {
    text-align: center;
    font-size: 1.12rem;
    line-height: 1.87rem;

    &:not(:last-child) {
      margin-bottom: 1.87rem;
    }
  }

  &__container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }

  &__settings {
    margin-bottom: .53rem;

    @media only screen and (min-width: $bp-sm) {
      margin-bottom: 1.87rem;
    }
  }

  &__search-bar {
    margin-bottom: 1.87rem;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1.25rem;
  }

}