@import '../../index.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/hogwarts.scss';

.filter {
  @include button;
  @include button-primary;

  flex: 1 1 50%;
  margin-bottom: 1.25rem;
  padding: .31rem 1.25rem;
  font-size: .93rem;
  color: $color-black;
  background-color: transparent;
  border: none;
  transition: color .3s;

  @media only screen and (min-width: $bp-sm) {
    flex-basis: auto;
    margin-bottom: 0;
  }

  &:hover {
    color: $color-default;
  }

  &--active {
    color: $color-default-light;
    
    &.filter {
      @include hogwarts-color;
    }
  }

  @include hogwarts-color-dark-hover;

  &:not(:first-child) {
    border-left: none;
  }
}