@import '../../index.scss';

.sorting {
  &__container {
    min-height: 53vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__image-container {
    margin-bottom: 1.87rem;
    width: 9.37rem;
  }

  &__image {
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    font-size: 1.87rem;
    font-weight: 300;
    margin-bottom: 1.87rem;
  }

  &__button {
    padding: .53rem 1.25rem;
    box-shadow: none;
    border: 1px solid $color-black;
    background-color: transparent;
    color: $color-black;
    text-transform: uppercase;
    font-family: $font-family-secondary;
    font-size: .75rem;
    cursor: pointer;
    transition: background-color .3s ease, border-color .3s ease, color .3s ease;

    &:hover {
      background-color: $color-white;
      border-color: $color-default-secondary;
      color: $color-default-secondary;
    }
  }
}