@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/hogwarts.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/button.scss';

.spell {
  background-color: $color-white;
  flex-basis: 100%;
  margin-bottom: 1.56rem;
  display: flex;
  flex-direction: column;
  height: 20rem;

  @media screen and (min-width: $bp-sm) {
    flex-basis: calc(50% - 1.1rem);
  }

  @media screen and (min-width: $bp-sm) and (max-width: $bp-lg) {
    &:not(:nth-child(2n)) {
      margin-right: 1.56rem;
    }
  }

  @media screen and (min-width: $bp-lg) {
    flex-basis: calc(33.33% - 1.1rem);

    &:not(:nth-child(3n)) {
      margin-right: 1.56rem;
    }
  }

  &__title {
    background-color: $color-default;
    min-height: 8.75rem;
    padding: 1.87rem 2.5rem;

    @include flex-center;
    flex-direction: column;

    color: $color-white;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 57% 100%, 50% 85%, 43% 100%, 0 100%);

    @include hogwarts-background;
  }

  &__name {
    @include heading-primary;
    font-size: 1.53rem;
    margin-bottom: 1.12rem;

    @media only screen and (min-width: $bp-md) {
      font-size: 1.87rem;
    }
  }

  &__info {
    padding: 1.87rem 2.5rem;
    
    @include flex-center;
    flex-direction: column;
    flex-grow: 1;
  }

  &__type { 
    @include button-primary;
    font-size: .93rem;
    color: $color-black;
    margin-bottom: 1.25rem;
  }

  &__effect {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.12rem;
  }

  &__icon {
    width: 4.06rem;
    height: 4.06rem;
    color: white;

    margin-bottom: 1.12rem;
  }
}