@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/messages.scss';

.register {
  @include flex-center;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  background-color: $color-default-dark-2;
  background-image: url('../../assets/img/auth/register-background.jpg');
  background-position: center;
  background-size: cover;

  &__icon-container {
    @include icon-container-big;
  }

  &__icon {
    width: 100%;
    height: 100%;
    color: white;
  }

  &__container {
    background-color: rgba($color-default-dark-2, .7);
    border: 2px solid rgba($color-white, .8);
    padding: 1.87rem 2.25rem;
    color: $color-white;
    margin: 0 2.25rem;

    @media only screen and (min-width: $bp-sm) {
      max-width: 32.18rem;
    }
  }

  &__title {
    @include heading-primary;
    font-size: 2.5rem;
    margin-bottom: 1.87rem;
    letter-spacing: .6rem;
  }

  &__text {
    text-align: center;
    margin-top: 1.87rem;
  }

  &__link {
    color: $color-default-light;
    margin-left: .53rem;
    font-size: 1.12rem;

    transition: color .3s ease;
  }

  &__link:link,
  &__link:visited {
    text-decoration: underline;
    color: $color-default-light;
  }

  &__link:hover,
  &__link:active {
    color: $color-background;
  }

  &__message {
    margin: 1.12rem 0;
    padding: .53rem .93rem;
    text-align: center;

    @include message-colors;
  }

}