@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/typography.scss';

.wand {
  position: relative;

  margin: 0 1.25rem;
  margin-top: -5rem;

  @media only screen and (min-width: $bp-xl) {
    @include container;
    margin-top: -5rem;
  }

  &__container {
    @include banner;
    @include banner-sm;
    margin: 0 auto 1.87rem;
    background-image: url('../../assets/img/landing/wand-background.jpg');

    @media only screen and (min-width: $bp-md) {
      @include banner-md;
    }

    @media only screen and (min-width: $bp-xl) {
      @include banner-lg;
    }
  }

  &__title {
    @include heading-primary;
    font-size: 3.12rem;

    &--capitalize {
      text-transform: capitalize
    }
  }
}