@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/hogwarts.scss';

.search-bar {
  @include flex-center;
  margin: 0 1.25rem;
  

  @media only screen and (min-width: $bp-md) {
    min-width: 20rem;
  }

  &__title {
    padding: .93rem 1.25rem;
    font-size: 1rem;
    color: $color-white;
    background-color: $color-default-dark;

    @include hogwarts-background-dark;

    @media only screen and (min-width: $bp-md) {
      font-size: 1.37rem;
    }
  }

  &__input {
    align-self: stretch;
    padding: .53rem .93rem;
    font-family: $font-family-secondary;
    font-size: 1rem;
    border: 2px solid $color-default-dark;

    @include hogwarts-border-dark;

    @media only screen and (min-width: $bp-md) {
      font-size: 1.37rem;
    }
  }
}